<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.apdoer.channel.server.mapper.MsgTemplateMapper">
    <resultMap id="MsgTemplateMap" type="org.apdoer.channel.server.model.po.MsgTemplatePo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="bussiness_type" property="bussinessType" jdbcType="VARCHAR"/>
        <result column="TEMPLATE_CODE" property="templateCode" jdbcType="VARCHAR"/>
        <result column="LOCALE" property="locale" jdbcType="VARCHAR"/>
        <result column="SUBJECT" property="subject" jdbcType="VARCHAR"/>
        <result column="CONTENT" property="content" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="TINYINT"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>
    <sql id="Base_Column_List">
        ID,bussiness_type, TEMPLATE_CODE , LOCALE , SUBJECT , CONTENT , REMARK , STATUS , CREATE_TIME ,UPDATE_TIME
    </sql>
    <select id="queryAllAvailableTemplates" resultMap="MsgTemplateMap">
        select
        	<include refid="Base_Column_List"/>
        from t_msg_template
        where STATUS = '0'
    </select>

</mapper>
